.input {
  display: flex;
  flex-direction: column;
}

.input__field {
  box-sizing: border-box;
  display: flex;
  width: 280px;
  height: 53px;
  padding-left: 16px;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  font-family: 'Montserrat';
  font-size: 21px;
  font-weight: 400;
  line-height: 29.4px;
  text-align: left;
  color: #000;
}

.input__field::placeholder {
  color: #A0A0A0;
  font-family: 'Montserrat';
  font-size: 21px;
  font-weight: 400;
  line-height: 29.4px;
  text-align: left;
}

.input__field:focus {
  outline: 2px solid #737BE1;
}

.input__field_error {
  border: 2px solid #E17373;
}

.input__error-container {
  margin-top: 6px;
  min-height: 30px;
  font-family: 'Montserrat';
  font-size: 21px;
  font-weight: 400;
  line-height: 29.4px;
  text-align: left;
  color: #E17373;
  padding-left: 16px;
}