@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.form {
  @include flex();
  margin-bottom: $spacer-xxl;
}

.form__container {
  @include flex-between(column);
  @include max-width(1400px);
  @include border-radius($big-r);
  background: linear-gradient($gradientOne, $light);
  margin: 0 auto;
  padding: $spacer-xl $spacer-xxl;
}

.form__text-container {
  @include flex-between(column);
  @include max-width(1020px);
}

.form__title {
  margin-bottom: $spacer-xl;
}

.form__text {
  @include textFont($fs-m, $fw-base, $lh-m, center);
  margin-bottom: $spacer-xl;
}

.form__form-container {
  @include flex-between(column);
}

.form__inputs-container {
  @include flex();
  gap: 20px;
  margin-bottom: $spacer-xxs;
}

@media(max-width: $md) {
  .form__container {
    padding: 0 $spacer-l;
  }
}

@media(max-width: $sm) {
  .form {
    @include flex();
    margin-bottom: 30px;
  }

  .form__container {
    @include flex(column);
    padding: $spacer-l $spacer-s;
  }

  .form__title {
    margin-top: $spacer-xxs;
    margin-bottom: $spacer-l;
  }

  .form__text {
    @include textFont($fs-s, $fw-base, $lh-ss, left);
    margin-bottom: $spacer-l;
  }

  .form__inputs-container {
    @include flex(column);
    gap: 0;
    margin-bottom: $spacer-s;
  }

  .form__text-container {
    align-items: flex-start;
  }
}