@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.welcome {
  @include flex-center();
  min-height: $mh-s;
  margin: 0 auto;
}

.welcome__container {
  @include flex-center(column);
  @include max-width($max-w);
  margin: 0 auto;
  padding: 0 $spacer-xxl;
}

.welcome__text {
  @include max-width(1400px);
  @include textFont($fs-l, $fw-large, $lh-l, center, italic);
  color: $black;
}

@media(max-width: $md) {
  .welcome__container {
    padding: 0 $spacer-l;
  }
}