.welcome {
  margin: 0 auto;
  width: 100%;
  min-height: 260px;
  display: flex;
  align-items: center;
}

.welcome__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1596px;
  width: 100%;
  padding: 0 96px;
  margin: 0 auto;
}

.welcome__text {
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
  color: #000;
  font-family: 'Montserrat';
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 33.6px;
  text-align: center;
  margin: 0;
}