.galery {
  width: 100%;
  min-height: 150px;
  margin: 48px 0;
}

.galery__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  max-width: 1596px;
  width: 100%;
  padding: 48px 96px;
  margin: 0 auto;
}

.galery__title-container {
  width: 100%;
  margin-bottom: 50px;
}


.galery__photo-container {
  display: grid;
  width: 100%;
  min-height: 738px;
  grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(246px, 1fr));
  margin: auto;
  gap: 22px 16px;
}

.galery__photo {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.galery__photo_number1 {
  background-image: url('../../images/galery_photo_number1.png');
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.galery__photo_number2 {
  background-image: url('../../images/galery_photo_number2.png');
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.galery__photo_number3 {
  background-image: url('../../images/galery_photo_number3.png');
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.galery__photo_number4 {
  background-image: url('../../images/galery_photo_number4.png');
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.galery__photo_number5 {
  background-image: url('../../images/galery_photo_number5.png');
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.galery__photo_number6 {
  background-image: url('../../images/galery_photo_number6.png');
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.galery__photo_number7 {
  background-image: url('../../images/galery_photo_number7.png');
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}