@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
  flex-shrink: 0;
  @include flex-center();
  min-height: $mh-xs;
  background-color: $dark;
}

.footer__container {
  @include flex-between();
  @include max-width($max-w);
  margin: 0 auto;
  padding: 0 $spacer-xxl;
}

.footer__logo-container {
  @include flex-between();
  @include max-width(194px);
}

.footer__rights {
  @include textFont($fs-xs, $fw-base, $lh-xs, left);
  color: $white;
}

@media(max-width: $md) {
  .footer__container {
    padding: 0 $spacer-l;
  }
}

@media(max-width: $sm) {
  .footer {
    min-height: 121px;
  }

  .footer__container {
    flex-direction: column-reverse;
    padding-left: $spacer-s;
    padding-right: $spacer-s;
  }

  .footer__rights {
    @include textFont($fs-xxs, $fw-base, $lh-xxs, center);
  }

  .footer__logo-container {
    @include max-width(150px);
    margin-bottom: $spacer-s;
  }
}