.banner {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../images/banner.png);
  width: 100%;
  min-height: 560px;
}

.banner__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1596px;
  width: 100%;
  padding: 0 96px;
  margin: 0 auto;
}

.banner__title {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 18px;
  background-color: #737BE1;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: 700;
  line-height: 58.51px;
  text-align: left;
  margin: 0;
  max-width: 623px;
  width: 100%;
  margin-top: 210px;
}

.banner__text {
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 18px;
  background-color: #fff;
  color: #737BE1;
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: 700;
  line-height: 58.51px;
  text-align: left;
  margin: 0;
}