@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


.banner {
  @include flex-center();
  @include bc-repeat(cover);
  background-image: url(../../images/banner.png);
}

.banner__container {
  @include flex(column);
  @include max-width($max-w);
  min-height: $mh-m;
  margin: 0 auto;
  padding: 0 $spacer-xxl;
}

.banner__title {
  @include max-width(623px);
  @include border-radius($big-r);
  border-bottom-left-radius: 0;
  @include textFont($fs-xxl, $fw-extra, $lh-xxl, left);
  background-color: $medium;
  color: $white;
  margin-top: $spacer-xxxl;
  padding: $spacer-xs $spacer-s;
}

.banner__subtitle {
  @include max-width(430px);
  @include border-radius($big-r);
  border-top-left-radius: 0;
  @include textFont($fs-xxl, $fw-extra, $lh-xxl, left);
  background-color: $white;
  color: $medium;
  padding: $spacer-xs $spacer-s;
}


@media(max-width: $md) {
  .banner__container {
    padding: 0 $spacer-l;
  }
}

@media(max-width: $sm) {
  .banner {
    position: relative;
    min-height: 243px;
    background-image: url(../../images/banner_mobile.png);
  }

  .banner__container {
    position: absolute;
    @include max-width(360px);
    min-height: 96px;
    padding-left: $spacer-s;
    padding-right: $spacer-s;
    top: 198px;
    left: 0;
  }

  .banner__title {
    @include textFont($fs-l, $fw-extra, $lh-l, left);
    line-height: 29px;
    padding: 8px $spacer-xs;
    margin-top: 0;
  }

  .banner__subtitle {
    @include max-width(221px);
    @include textFont($fs-l, $fw-extra, $lh-l, left);
    line-height: 29px;
    padding: 8px $spacer-xs;
    background-color: $light;
    padding: $spacer-xxs $spacer-xs;
  }
}